# Proyecto análisis de conversación de mensajería

## Cargar datos
- Exportar una conversación personal o grupal de Whastapp o Telegram en un formato adecuado (JSON, CSV, etc), no exportar audios, archivos multimedia, etc
- Importar archivo y convertirlo en dataframe
- Obtener y graficar los siguientes datos. Elegir el gráfico que mejor represente los datos

In [4]:
import json
import pandas as pd


chat = open('data/result.json', encoding='utf8')

data = json.load(chat)

df = pd.DataFrame(data["messages"])
df

,id,type,date,actor,actor_id,action,inviter,text,from,from_id,members,edited,reply_to_message_id,file,mime_type
0,1055,service,2021-08-09T15:36:57,Delfina Quinteros,user991384208,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1056,service,2021-08-09T15:37:13,Enzo Fernandez,user1726569146,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1057,service,2021-08-09T15:38:24,Lucas Ollarce,user623280426,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1058,service,2021-08-09T15:39:00,Bruno,user1133965522,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1059,service,2021-08-09T16:27:09,Santiago Martinez,user807010702,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,1207,message,2021-09-27T20:21:52,NaN,NaN,NaN,NaN,Les dejo los links a videos y material en PowerBi,Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
90,1208,message,2021-09-27T20:22:06,NaN,NaN,NaN,NaN,"[El video que vimos: , {'type': 'link', 'text'...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
91,1209,message,2021-09-27T20:25:27,NaN,NaN,NaN,NaN,"[Este otro ejemplo del que les hable, panel d...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
92,1210,message,2021-09-27T20:29:53,NaN,NaN,NaN,NaN,"[En esta página, encuentran datasets de difer...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
93,1219,message,2021-09-27T23:31:26,NaN,NaN,NaN,NaN,"Chicos, ya está en la cátedra virtual, el tr...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN

### Cantidad de mensajes enviados por cada usuario

In [5]:
groups = ['from']
df.groupby(groups, as_index=False).agg(mensajes = ('text', 'count'))

                             from  mensajes
0   Andrea Navarro (juncotic.com)         3
1                         Arian M         8
2                           Bruno         1
3                    Daniel Beato         2
4                  Danilo Verardo         1
5               Delfina Quinteros         2
6                         Douglas         2
7                  Emiliano Muñoz         3
8                  Enzo Fernandez         1
9                       Facu Luna         1
10                     Fede Pardo         4
11              Gabriel Arenas 🇦🇷        13
12            Giancarlo Galvarini         2
13              Juan Pablo Garcia         1
14                 Juli Navarrete         2
15                      Lautaro G         3
16                  Lucas Galdame         6
17                  Lucas Ollarce         1
18                         Matias         1
19               Nicolás Olivares         1
20      Ramiro Alberto Giandinoto         5
21              Santiago Martinez         2
22                Santiago Moyano         2
23                 Santiago Riera         2
24                           Yago         3
25                      jose Ruti         1
26                         seba F         2

### Promedio de palabras utilizadas por mensaje por cada usuario

In [7]:
df['total_words'] = [len(str(x).split(" ")) for x in df['text']]
df.groupby(['from'])[['total_words']].mean()

                               total_words
from
Andrea Navarro (juncotic.com)     4.666667
Arian M                           4.250000
Bruno                             4.000000
Daniel Beato                      3.000000
Danilo Verardo                    8.000000
Delfina Quinteros                 7.000000
Douglas                           4.500000
Emiliano Muñoz                    6.333333
Enzo Fernandez                    4.000000
Facu Luna                         4.000000
Fede Pardo                        2.250000
Gabriel Arenas 🇦🇷                33.538462
Giancarlo Galvarini               2.500000
Juan Pablo Garcia                 7.000000
Juli Navarrete                    5.000000
Lautaro G                         5.000000
Lucas Galdame                     4.166667
Lucas Ollarce                     4.000000
Matias                            4.000000
Nicolás Olivares                  4.000000
Ramiro Alberto Giandinoto         4.400000
Santiago Martinez                 2.500000
Santiago Moyano                   4.500000
Santiago Riera                    7.500000
Yago                              3.000000
jose Ruti                         4.000000
seba F                            7.500000

### Porcentaje de mensajes enviados por cada usuario

In [9]:
total_messages = df['id'].count()
df.groupby(
    ['from'],
    as_index=False
).agg(average=('id', lambda x: (x.count()/total_messages)*100))

                             from    average
0   Andrea Navarro (juncotic.com)   3.191489
1                         Arian M   8.510638
2                           Bruno   1.063830
3                    Daniel Beato   2.127660
4                  Danilo Verardo   1.063830
5               Delfina Quinteros   2.127660
6                         Douglas   2.127660
7                  Emiliano Muñoz   3.191489
8                  Enzo Fernandez   1.063830
9                       Facu Luna   1.063830
10                     Fede Pardo   4.255319
11              Gabriel Arenas 🇦🇷  13.829787
12            Giancarlo Galvarini   2.127660
13              Juan Pablo Garcia   1.063830
14                 Juli Navarrete   2.127660
15                      Lautaro G   3.191489
16                  Lucas Galdame   6.382979
17                  Lucas Ollarce   1.063830
18                         Matias   1.063830
19               Nicolás Olivares   1.063830
20      Ramiro Alberto Giandinoto   5.319149
21              Santiago Martinez   2.127660
22                Santiago Moyano   2.127660
23                 Santiago Riera   2.127660
24                           Yago   3.191489
25                      jose Ruti   1.063830
26                         seba F   2.127660

### Frecuencia de envío de mensaje dependiendo la hora del día

TypeError: '_io.TextIOWrapper' object is not subscriptable

### Frecuencia de envío de mensaje dependiendo del día de la semana

### Hora del día preferida por cada usuario para enviar mensajes

### Día de la semana preferida por cada usuario para enviar mensajes

### Cantidad promedio de mensajes enviados por hora para cada usuario

### Cantidad de usuarios promedio que envían mensaje por cada día de la semana

### Cantidad de mensajes envíados por mes

### Cantidad mínima, máxima y promedio de palabras por mensaje